*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.spectral-extralight {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .spectral-light {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .spectral-medium {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .spectral-semibold {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .spectral-extrabold {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .spectral-extralight-italic {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .spectral-light-italic {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .spectral-regular-italic {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .spectral-medium-italic {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .spectral-semibold-italic {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .spectral-bold-italic {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .spectral-extrabold-italic {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  body{
    margin: 0%;
    background-color: rgb(255, 255, 255);
    


  }
  #institution{ 

    color: aliceblue;
    min-width: 250px;

 }
 header {


    transition: all 0.5s;
    z-index: 999;
    transition: all 0.5s;
    padding: 0px 0;
    background: #0c104e;
    position: static;
    display: flex;
    flex-wrap: wrap;
}

 .header__container{
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;

 }
 .opciones{
    display: inline-flex;

 }

 .lista{
    padding: 30px;
    list-style: none;
 
 }

.optionnav{

  color: aliceblue;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.container_carusel{
  
  padding: 1px;
  height: 400px;
  background:  #0c104e; 
  position: relative;
  overflow: hidden;
  
}
.caruseles{
  display: flex;
  width: 300%;
  height: 100%;
  background-color:  #0c104e;
  
}
.slider-section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.slider-section{
  width: calc(100% /3);
}
 .btn-left,
 .btn-right{
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transform: translate(0, -50%);
  transition: .5s ease;
  user-select: none;
 }
 .btn-right{
  right: 10px;
 }
 .btn-left{
  left: 10px;
 }
 /* Media queries */
/* Pantalla pequeña (menos de 600px) */
@media (max-width: 600px) {
  section {
      width: 100%; /* Ancho del section en pantalla pequeña */
  }
}

/* Pantalla mediana (entre 600px y 1200px) */
@media (min-width: 600px) and (max-width: 1200px) {
  section {
      width: 60%; /* Ancho del section en pantalla mediana */
  }
}

/* Pantalla grande (más de 1200px) */
@media (min-width: 1200px) {
  section {
      width: 40%; /* Ancho del section en pantalla grande */
  }
}