.spectral-extralight {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .spectral-light {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .spectral-medium {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .spectral-semibold {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .spectral-extrabold {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .spectral-extralight-italic {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .spectral-light-italic {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .spectral-regular-italic {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .spectral-medium-italic {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .spectral-semibold-italic {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .spectral-bold-italic {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .spectral-extrabold-italic {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  body{
    margin: 0%;
    background-color: black;
  }
  #institution{ 

    color: aliceblue;
    min-width: 250px;

 }
 header {

    width: 100%;
    transition: all 0.5s;
    z-index: 999;
    transition: all 0.5s;
    padding: 0px 0;
    background: #0c104e;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
}

 .header__container{
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;

 }
 .opciones{
    display: inline-flex;

 }

 .lista{
    padding: 20px;
    list-style: none;
 
 }

a{

  color: aliceblue;
}